## Ignore Harbour temporary files, build results, and
## other files.
##
## 


## Harbour files with use pagnet

marcasin/file/*.*
marcasin/report/*.*
marcasin/prg/*.exe
marcasin/prg/*.ppo
marcasin/prg/*.obj




